<ng-container *ngIf="teamResult !== undefined">
  <app-modal [showModal]="showModal" (closeModal)="toggleModal()">
    <h2>Are you sure you want to remove this team?</h2>
    <div class="modal-actions">
      <button
        mat-stroked-button
        color="warn"
        (click)="removeTeamResult(teamResult.uuid)"
      >
        Yes
      </button>
      <button mat-stroked-button (click)="toggleModal()">No</button>
    </div>
  </app-modal>
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <div>
          <mat-card-title>
            <div>
              {{ teamResult.team_name }} [{{ teamResult.team_abbreviation }}]
            </div>
            <button
              fxLayoutAlign="right"
              [id]="'remove' + teamResult.team_abbreviation"
              (click)="toggleModal()"
            >
              x
            </button>
          </mat-card-title>
          <mat-card-subtitle>{{
            teamResult.conference | conference
          }}</mat-card-subtitle>
        </div>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>Result of past 12 days:</p>
        <div class="result">
          <div class="result" *ngFor="let result of teamResult.results">
            <p appHighlightResult [teamResult]="result">
              {{ result | winLoss }}
            </p>
          </div>
        </div>
        <p>
          Avg pts scored:
          <b>{{ teamResult.average_scored | number : "1.0-0" }}</b>
        </p>
        <p>
          Avg pts conceded:
          <b>{{ teamResult.average_conceded | number : "1.0-0" }}</b>
        </p>
      </div>
      <img mat-card-md-image [src]="teamResult.logo_url" />
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="success"
        [id]="'result' + teamResult.team_abbreviation"
        [routerLink]="['results', teamResult.team_abbreviation]"
        routerLinkActive="active"
      >
        See game results >>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
