<ng-container
  *ngIf="{
    selectDays: days$ | async,
    teamResults: teamResults$ | async,
    selectedDays: selectedDays$ | async
  } as _"
>
  <app-select-team></app-select-team>
  <mat-form-field style="margin-top: 10px" appearance="fill">
    <mat-label>Days</mat-label>
    <mat-select
      id="conferenceSelect"
      [(value)]="_.selectedDays"
      (valueChange)="dashboardSelectedDaysChanged($event)"
    >
      <mat-option *ngFor="let selectDays of _.selectDays" [value]="selectDays">
        {{ selectDays }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="grid">
    <div fxFlex="25%" class="card" *ngFor="let teamResult of _.teamResults">
      <app-team-card
        [teamResult]="teamResult"
        [days]="_.selectedDays ?? 12"
      ></app-team-card>
    </div>
  </div>
</ng-container>
