<div
  class="fixed h-full w-full bottom-0 top-0 right-0 z-[100] transition-all duration-500 ease-in-out"
  [ngClass]="{
    'left-0': showModal,
    'opacity-1': showModal,
    '-left-full': !showModal,
    'opacity-0': !showModal
  }"
>
  <div
    class="modal-overlay absolute w-full h-full bottom-0 left-0 bg-gray-900 opacity-50 z-50"
    (click)="handleCloseModal()"
  ></div>
  <div
    class="modal-container max-h-full absolute h-fit bg-base-100 w-full md:top-1/2 md:right-1/2 md:-translate-y-1/2 md:translate-x-1/2 bottom-0 md:w-4/5 xl:w-fit mx-auto rounded shadow-lg z-[51] overflow-y-auto"
  >
    <div class="modal-content py-4 text-left px-6">
      <ng-content></ng-content>
    </div>
  </div>
</div>
