<ng-container
  *ngIf="{
    conferences: conferences$ | async,
    selectedConference: selectedConference$ | async,
    selectedDivision: selectedDivision$ | async,
    division: divisions$ | async,
    selectedTeam: selectedTeam$ | async,
    teams: teams$ | async
  } as _"
>
  <div class="select-team">
    <mat-form-field appearance="fill">
      <mat-label>Select a Conference:</mat-label>
      <mat-select
        id="conferenceSelect"
        [(value)]="_.selectedConference"
        (valueChange)="ConferenceDropdownSelectionChanged($event)"
      >
        <mat-option
          *ngFor="let nbaConferences of _.conferences"
          [value]="nbaConferences"
        >
          {{ nbaConferences | conference }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select a Division:</mat-label>
      <mat-select
        id="divisionSelect"
        [(value)]="_.selectedDivision"
        (valueChange)="DivisionDropdownSelectionChanged($event)"
      >
        <mat-option
          *ngFor="let nbaDivision of _.division"
          [value]="nbaDivision"
        >
          {{ nbaDivision }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select an NBA Team:</mat-label>
      <mat-select
        id="teamSelect"
        [(value)]="_.selectedTeam"
        (valueChange)="TeamDropdownSelectionChanged($event)"
      >
        <mat-option *ngFor="let nbaTeam of _.teams" [value]="nbaTeam.full_name">
          {{ nbaTeam.full_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="_.selectedTeam !== null && _.teams !== null">
      <button
        id="trackBtn"
        class="track-btn"
        mat-raised-button
        color="primary"
        (click)="trackTeam(_.selectedTeam, _.teams)"
        [disabled]="_.selectedTeam === ''"
      >
        Track Team
      </button>
    </ng-container>
  </div>
</ng-container>
