<ng-container
  *ngIf="{
    teamResults: teamResults$ | async,
    nbaTeams: nbaTeams$ | async
  } as _"
>
  <div class="select-team">
    <mat-form-field appearance="fill">
      <mat-label>Select an NBA Team:</mat-label>
      <mat-select id="teamSelect" [(value)]="selectedTeam">
        <mat-option
          *ngFor="let nbaTeam of _.nbaTeams"
          [value]="nbaTeam.full_name"
        >
          {{ nbaTeam.full_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      id="trackBtn"
      class="track-btn"
      mat-raised-button
      color="primary"
      (click)="trackTeam()"
      [disabled]="selectedTeam === ''"
    >
      Track Team
    </button>
  </div>

  <div class="grid">
    <div fxFlex="25%" class="card" *ngFor="let teamResult of _.teamResults">
      <app-team-card
        [teamResult]="teamResult"
        (toRemove)="removeResult($event)"
      ></app-team-card>
    </div>
  </div>
</ng-container>
